# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
*.sqlite3
*.log

# Django
*.pyc
*.db
media/
staticfiles/

# Node / JavaScript
node_modules/

# Bun
.bun/

# Next.js
.next/
out/
build/
*.next/

# TypeScript
*.tsbuildinfo

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# HeroUI
.hero/

# Editor / IDE
.idea/
.vsc