DEBUG=True
DJANGO_ENV=dev

SECRET_KEY=example_key

DB_NAME=Db_title
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=127.0.0.1
DB_PORT=5432

LOG_LEVEL=DEBUG

POSTMARK_TOKEN=12345
POSTMARK_SENDER=example@example.ru

INVITE_CONFIRM_PATH=/my/url